# PyCache
__pycache__/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI / Uvicorn
*.log

# Environment variables
.env.*
!.env.example

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db

# Database files (if using SQLite)
*.db
*.sqlite3

# Settings file
settings.json